h2 { color: #007bff; }
.back-btn
    {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      margin: 10px 0;
      cursor: pointer;
      
      transition: background-color 0.3s;
  
      &:hover {
        background-color: #0056b3;
      }
    }

    
  .logout-btn {
    position: absolute; /* Allows placement within the relative container */
    top: 10px; /* Distance from the top */
    right: 10px; /* Distance from the right */
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0056b3;
    }
  }